body{
  background-color: black;
}

img.icons {
	width: 110px;
}

a {
	text-decoration: none;
	font-size: 50px;
	color: crimson;
	font-size: 70px;
}

hr {
	background: black;
	height: 20px;
}

.codystar-light {
  font-family: "Codystar", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.codystar-regular {
  font-family: "Codystar", sans-serif;
  font-weight: 400;
  font-style: normal;
}


p.yoalys {
  text-align: center;
  font-size: 30px;
  color: #4C75C7;
  font-family: "Codystar";
  font-weight: 1000;
}


